.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

  body
  {
    display: flex;

    width: 75%;
    height: 300px;
    margin: auto;

    background-color:#a8e6cf;
    flex-direction: column;
    
  }


  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1;
  }

  html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }


  .secondary-color
  {
background-color: #d7fffd;

  }